

#jeden {
	margin: auto;
	background-color:white;
	border:40px solid red;
	margin-bottom:20px;
	margin-top:20px;
	font-size:30px;
	padding:5px;
	text-align: center;
	width: 300px
}

#dwa {
	margin: auto;
    background: white;
	border:16px solid red;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}