*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


li{
    display: inline;
}

#ksztalt{
    width: 50px;
    height: 50px;
    background-color: black;
    margin: auto;
}

input{
    background-color: white;
    border: none;
}

