ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4D1E04;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: #F0D67F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #773903;
}

h1 {
   padding-left: 30px;
   color: #251605;
   font-size: 60px;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}



body {
	background-color: #F0D67F;
}