*{
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left top, #363062, #38254b, #331c36, #291524, #1d0e16, #2a141c, #381a21, #462024, #783330, #a94c33, #d56d2d, #f99417);
    background-repeat: no-repeat;
}

li{
    margin-top: 20px;
    display: inline-block;
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    line-height: 50px;
}

a{
    text-decoration: none;
    color: white;
}

li:hover{
    background-color: #f99417;
    color: #1d0e16;
}

p{
    color: white;
    margin-top:20px ;
    font-size: larger;
}