*{
    margin: 0;
    color: #0C8346;
}

body{
    font-family: 'Playfair Display', serif;
    background-color: #8FD5A6;
}

section{
    text-align: center;
    margin: auto;
    background-color: #E5C2C0;
    width: 50%;
}